<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Tema1_v2.Properties.Settings.FlorarieConnectionString"
            connectionString="Data Source=LAPTOP-N16I6V2I\SQLEXPRESS;Initial Catalog=Florarie;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>